<div class="well bs-docs-sidenav affix">


  <div class="row-fluid">
    <div class="span12">
      <a class="brand" href="/"> <img src="/lmg.png" id="logo" alt="lmg_logo"/> </a>
     </div>
   </div> 

  <!-- <h3><center><a href="/">{{ site.theme.name }}</a><center></h3> -->
  <hr/>
  <ul class="nav nav-list">
    <div class="welcome">
      <p>
	Hi!
	<br>
	I'm Luis and I like
	<br>
	{create, design, code}
	<br>
	<br>
	I'm Software Engineer ;-)
      </p>
    </div>
  </ul>

  <hr/>
  
  <div class="row-fluid">
    <div class="span12" id="social">
      {% include social.html %}
    </div>
  </div>

</div>
